---
layout: post
---
<article class="container">
  <section class="index">
    <h1>Photograpy Gallery</h1>
  </section>
  {% for gallery in site.data['galleries'] %}
      <section class="index">
        <div class="row">
          {% if gallery.thumbnail %}
            <div class="col-sm-9">
          {% else %}
            <div class="col-sm-12">
          {% endif %}
          <h3 class="title">
            <a href="{{ gallery.url }}">{{ gallery.name }}</a>
          </h2>
          <div class="meta">
            {% if gallery.top %}
            TOP
            {% else %}
            {{ gallery.date }}
            {% endif %}
          </div>
          {% if gallery.excerpt %}
          <p>{{ gallery.excerpt }}</p>
          {% endif %}
          {% if gallery.thumbnail %}
            </div>
            <div class="col-sm-3">
              <a href="{{ gallery.url }}" rel="prefetch" class="thumbnail-link"><img src="{{ gallery.thumbnail }}" alt="thumbnail" class="thumbnail"></a>
            </div>
          {% else %}
            </div>
          {% endif %}
        </div>
        <hr>
      </section>
  {% endfor %}
</article>
